Source: ros-indigo-moveit-core
Section: misc
Priority: extra
Maintainer: Sachin Chitta <robot.moveit@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libassimp-dev, libboost-all-dev, libeigen3-dev, pkg-config, ros-indigo-actionlib-msgs, ros-indigo-catkin, ros-indigo-console-bridge, ros-indigo-eigen-conversions, ros-indigo-eigen-stl-containers, ros-indigo-fcl, ros-indigo-geometric-shapes (>= 0.3.4), ros-indigo-geometry-msgs, ros-indigo-kdl-parser, ros-indigo-moveit-msgs, ros-indigo-octomap, ros-indigo-octomap-msgs, ros-indigo-random-numbers, ros-indigo-roslib, ros-indigo-rostime, ros-indigo-sensor-msgs, ros-indigo-shape-msgs, ros-indigo-shape-tools, ros-indigo-srdfdom, ros-indigo-std-msgs, ros-indigo-trajectory-msgs, ros-indigo-urdfdom, ros-indigo-urdfdom-headers, ros-indigo-visualization-msgs
Homepage: http://moveit.ros.org
Standards-Version: 3.9.2

Package: ros-indigo-moveit-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libassimp-dev, libboost-all-dev, libeigen3-dev, ros-indigo-actionlib-msgs, ros-indigo-console-bridge, ros-indigo-eigen-conversions, ros-indigo-eigen-stl-containers, ros-indigo-fcl, ros-indigo-geometric-shapes (>= 0.3.4), ros-indigo-geometry-msgs, ros-indigo-kdl-parser, ros-indigo-moveit-msgs, ros-indigo-octomap, ros-indigo-octomap-msgs, ros-indigo-random-numbers, ros-indigo-rostime, ros-indigo-sensor-msgs, ros-indigo-shape-msgs, ros-indigo-shape-tools, ros-indigo-srdfdom, ros-indigo-std-msgs, ros-indigo-trajectory-msgs, ros-indigo-urdfdom, ros-indigo-urdfdom-headers, ros-indigo-visualization-msgs
Description: Core libraries used by MoveIt!
