Source: ros-groovy-moveit-core
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), assimp-dev, libboost1.46-all-dev, libeigen3-dev, pkg-config, ros-groovy-actionlib-msgs, ros-groovy-catkin, ros-groovy-console-bridge, ros-groovy-eigen-conversions, ros-groovy-eigen-stl-containers, ros-groovy-fcl, ros-groovy-geometric-shapes, ros-groovy-geometry-msgs, ros-groovy-kdl-parser, ros-groovy-moveit-msgs, ros-groovy-octomap, ros-groovy-octomap-msgs, ros-groovy-random-numbers, ros-groovy-rostime, ros-groovy-sensor-msgs, ros-groovy-shape-msgs, ros-groovy-shape-tools, ros-groovy-srdfdom, ros-groovy-std-msgs, ros-groovy-trajectory-msgs, ros-groovy-urdfdom, ros-groovy-urdfdom-headers, ros-groovy-visualization-msgs
Homepage: http://moveit.ros.org
Standards-Version: 3.9.2

Package: ros-groovy-moveit-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, assimp-dev, libboost1.46-all-dev, libeigen3-dev, ros-groovy-actionlib-msgs, ros-groovy-console-bridge, ros-groovy-eigen-conversions, ros-groovy-eigen-stl-containers, ros-groovy-fcl, ros-groovy-geometric-shapes, ros-groovy-geometry-msgs, ros-groovy-kdl-parser, ros-groovy-moveit-msgs, ros-groovy-octomap, ros-groovy-octomap-msgs, ros-groovy-random-numbers, ros-groovy-rostime, ros-groovy-sensor-msgs, ros-groovy-shape-msgs, ros-groovy-shape-tools, ros-groovy-srdfdom, ros-groovy-std-msgs, ros-groovy-trajectory-msgs, ros-groovy-urdfdom, ros-groovy-urdfdom-headers, ros-groovy-visualization-msgs
Description: Core libraries used by MoveIt!
