Source: ros-hydro-moveit-core
Section: misc
Priority: extra
Maintainer: Sachin Chitta <robot.moveit@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libassimp-dev, libboost-all-dev, libeigen3-dev, pkg-config, ros-hydro-actionlib-msgs, ros-hydro-catkin, ros-hydro-console-bridge, ros-hydro-eigen-conversions, ros-hydro-eigen-stl-containers, ros-hydro-fcl, ros-hydro-geometric-shapes (>= 0.3.4), ros-hydro-geometry-msgs, ros-hydro-kdl-parser, ros-hydro-moveit-msgs, ros-hydro-octomap, ros-hydro-octomap-msgs, ros-hydro-random-numbers, ros-hydro-rostime, ros-hydro-sensor-msgs, ros-hydro-shape-msgs, ros-hydro-shape-tools, ros-hydro-srdfdom, ros-hydro-std-msgs, ros-hydro-trajectory-msgs, ros-hydro-urdfdom, ros-hydro-urdfdom-headers, ros-hydro-visualization-msgs
Homepage: http://moveit.ros.org
Standards-Version: 3.9.2

Package: ros-hydro-moveit-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libassimp-dev, libboost-all-dev, libeigen3-dev, ros-hydro-actionlib-msgs, ros-hydro-console-bridge, ros-hydro-eigen-conversions, ros-hydro-eigen-stl-containers, ros-hydro-fcl, ros-hydro-geometric-shapes (>= 0.3.4), ros-hydro-geometry-msgs, ros-hydro-kdl-parser, ros-hydro-moveit-msgs, ros-hydro-octomap, ros-hydro-octomap-msgs, ros-hydro-random-numbers, ros-hydro-rostime, ros-hydro-sensor-msgs, ros-hydro-shape-msgs, ros-hydro-shape-tools, ros-hydro-srdfdom, ros-hydro-std-msgs, ros-hydro-trajectory-msgs, ros-hydro-urdfdom, ros-hydro-urdfdom-headers, ros-hydro-visualization-msgs
Description: Core libraries used by MoveIt!
